.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.con-head {
    text-align: center;
}

footer {
    background-color: rgb(239, 239, 239);
}

form {
    padding: 10px;
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin: 7px;
    width: 48vw;
    border-radius: 5px;
    border: none;
    height: 40px;
}

::placeholder {
    padding: 10px;
}

.btn-dark {
    align-self: start;
    margin: 7px;
}