@media screen and (max-width: 1137px) {
    .section{
      flex-direction: column;
      height: auto;
    }
    @keyframes cor {
    0%{
      width: 150px;
    height: 150px;
    }
    50%{
      width: 200px;
    height: 200px;
    }
    100%{
      width: 150px;
    height: 150px;
    }
  }
  .img{
    width: 100vw;
    height: 250px;
  }
  .heading{
    width: 100vw;
  }
  #tagline>h1{
    font-size: 2rem;
    text-align: center;
  }
  .inbetween{
    width: 30px;
    height: 30px;
  }
  }
  @media screen and (max-width: 1137px) {
    .cont{
        flex-direction: column;
        height: 80vh;
    }
    .newcases{
        width: 90vw;
    }
    .deaths{
        width: 90vw;
    }
    .recovered{
        width: 90vw;
    }
    .total{
        width: 90vw;
    }
    .statename{
        width: 90vw;
        padding: 0px 20px;
        border-left: 5px solid #5b5c69;
        color: #5b5c69;
      }
      .statename > h1{
          font-size:1.8rem;
      }
      .center {
        width: 40%;
      }
}
@media screen and (max-width: 1137px) {
  form{
    width: 95vw;
  }
  input{
    width: 90vw;
  }
  .btn-dark{
    align-self: center;
  }
}