.card-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    margin: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.card{
    padding: 2rem;
    color: black;
    text-align: center;
    border-radius: 3rem;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    text-decoration: none;
    transition: 1s ease;
}

.card:hover{
    transition: all 1s ease;
    color: wheat;
}

.card span { 
    display:inline-block; 
    animation: shake 1s ease-in-out infinite; 
}

    @keyframes shake {
        0% { 
        transform: none; 
        }
        50%{ 
        transform:translateY(-2px); 
        }
        100%{ 
        transform:translateY(2px); 
        }
    }


.card:hover span { 
  animation: bounce 3s;
}

    @keyframes bounce {
        0% { 
            transform:translate(0); 
        }
        25%{ 
            transform:rotateX(40deg) translateY(4px); 
        }
        50%{ 
            transform:translateY(-20px) scale(1.5);  
        }
    }

.c1 span{ animation-delay:.10s; }
.c2 span{ animation-delay:.20s; }
.c3 span{ animation-delay:.30s; }
.c4 span{ animation-delay:.40s; }
.c5 span{ animation-delay:.50s; }
.c6 span{ animation-delay:.60s; }
.c7 span{ animation-delay:.70s; }
.c8 span{ animation-delay:.80s; }

.c1 span { color:#FFFD82; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c2 span { color:#00C2D1; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c3 span { color:#F6AF65; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c4 span { color:#ED33B9; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c5 span { color:#2CA58D; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c6 span { color:#8a59c9; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c7 span { color:#a5672c; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}
.c8 span { color:#2c6fa5; text-shadow:1px 1px grey, 3px 3px black, 4px 4px grey;}

.c1{ background: grey; border: 0.2rem #FFFD82 solid; }
.c2{ background: grey; border: 0.2rem #00C2D1 solid; }
.c3{ background: grey; border: 0.2rem #F6AF65 solid; }
.c4{ background: grey; border: 0.2rem #ED33B9 solid; }
.c5{ background: grey; border: 0.2rem #2CA58D solid; }
.c6{ background: grey; border: 0.2rem #8a59c9 solid; }
.c7{ background: grey; border: 0.2rem #a5672c solid; }
.c8{ background: grey; border: 0.2rem #2c6fa5 solid; }

.c1:hover{ background: grey;}
.c2:hover{ background: grey; }
.c3:hover{ background: grey; }
.c4:hover{ background: grey; }
.c5:hover{ background: grey; }
.c6:hover{ background: grey; }
.c7:hover{ background: grey; }
.c8:hover{ background: grey; }