* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#coronaimg {
    width: 250px;
    height: 250px;
    animation-name: cor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.section {
    height: 50vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cor {
    0% {
        width: 250px;
        height: 250px;
    }
    50% {
        width: 350px;
        height: 350px;
    }
    100% {
        width: 250px;
        height: 250px;
    }
}

.heading {
    padding: 20px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tagline>h1 {
    font-size: 5rem;
}

.inbetween {
    width: 60px;
    height: 60px;
}

#statshead {
    text-align: center;
    color: chocolate;
}

#drop {
    display: flex;
    justify-content: center;
}

.cont {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95vw;
    padding: 25px;
}

.total {
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 15vh;
    border-left: 5px solid red;
    width: 20vw;
}

.deaths {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 15vh;
    border-left: 5px solid grey;
    width: 20vw;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recovered {
    color: teal;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 15vh;
    border-left: 5px solid teal;
    width: 20vw;
}

.newcases {
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 15vh;
    border-left: 5px solid orange;
    width: 20vw;
}

.deathhead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statename {
    width: 95vw;
    margin: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-left: 5px solid #5b5c69;
    border-radius: 100px;
    color: #5b5c69;
}

#ind {
    margin: 20px;
}

#back-to-home {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: rgb(37, 37, 37);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.title ul {
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    margin-left: 90px;
    margin-bottom: 0;
}

.title ul li {
    padding-right: 30px;
    margin-bottom: 10px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.teal {
    color: teal;
}

.gray {
    color: gray;
}

.grave {
    width: 5px;
    height: 5px;
}